html[dir="ltr"]
  .productListMainApp
  .showDetailsButton
  .sapMByn
  .discontinuedButton {
  margin-right: 0.125rem;
}

html[dir="rtl"]
  .productListMainApp
  .showDetailsButton
  .sapMByn
  .discontinuedButton {
  margin-left: 0.125rem;
}

.productListMainApp .myCustomText {
  display: inline-block;
  font-weight: bold;
}

.productListMainApp .detailItem {
  padding: 0 2em;
  align-items: center;
}

.productListMainApp .redStatus {
  color: brown;
}
